.App {
  height: 100%;
}

.akorda-ui-editor > .cke_editable {
  height: 100%;
}

.akorda-ui-editor > .cke_editable,
.akorda-ui-editor > .cke {
  margin: 5% 25%;
  border: 1px solid lightgray;
}

.App .cke_contents,
.App .cke_inner {
  height: 100% !important;
}

.App .cke {
  height: 80%;
}

.akorda-ui-editor,
.akorda-ui-editor > .cke,
.akorda-ui-editor > .cke > .cke_inner {
  height: 900px !important;
}
